#img_0 {
    filter: blur(5px);
}
#img_1 {
    filter: invert(75%);
}
#img_2 {
    filter: contrast(200%);
}
#img_3 {
    filter: grayscale(80%);
}
#img_4 {
    filter: hue-rotate(90deg);  
}
img{
    border-radius: 20px;
    width: 200px;
    height: 300px;
}
#container {
    display: flex;
    flex-wrap: wrap;
}
#container div {
    display: block;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

    @media only screen and (max-width: 600px) {
        #span::after {
            content: "mobile Mode";
        }
        #container {
            display: flex;
            justify-content: center;
        }
        #container div{

        }

    
    }
 